body{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header{
    align-items: center;
    border-bottom: 10px double white;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100vw;
}

h1{
    color: white;
}

main{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(auto, calc(15vw + 20px));
    height: calc(100vh - 110px);
    justify-items: center;
    width: 70vw;
}

.carta{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    cursor: pointer;
    height: 15vw;
    max-height: 110px;
    max-width: 110px;
    width: 15vw;
}

.carta:hover{
    border: 5px dotted black;
  }